/*
  (                                     )  (     
  )\ )   )                 )         ( /(  )\ )  
 (()/(( /(              ( /(     (   )\())(()/(  
  /(_))\()) (  (  `  )  )\()) (  )( ((_)\  /(_)) 
 (_))((_)\  )\ )\ /(/( ((_)\  )\(()\  ((_)(_))   
 | _ \ |(_)((_|(_|(_)_\| |(_)((_)((_)/ _ \/ __|  
 |  _/ ' \/ _ (_-< '_ \) ' \/ _ \ '_| (_) \__ \  
 |_| |_||_\___/__/ .__/|_||_\___/_|  \___/|___/  
               |_|                                                                                                                         ███    ███                         

*/

@define-color selected-text #ffd700;
@define-color text #507350;
@define-color base #0f191c;
@define-color border #11ff25;
@define-color foreground #507350;
@define-color background #0f191c;

/*
     )                                     
  ( /(  (  (               )        )      
  )\()) )\ )\ )  (      ( /(     ( /(      
 ((_)\ ((_|()/(  )\  (  )\()) (  )\()) (   
   ((_) _  ((_))((_) )\((_)\  )\((_)\  )\  
  / _ \| | _| |_ | |((_) |(_)((_) |(_)((_) 
 | (_) | / _` | || / _ \ '_ Y _ \ '_ Y _ \ 
  \___/|_\__,_|\__/\___/_.__|___/_.__|___/ 
                                           
 25-01-26
*/
